
body {
    font-family: cursive, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar-brand {
    font-size: 24px;
}

.navbar-collapse {
    background-color: #f8f8f8;
}



.tall-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: gray;
}

.tall-content h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 26px;
    margin-top: 0;
}

.container {
    margin-bottom: 10px;
}


